<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="deviceGroup" 
             type="Attendances.BackendService.Configs.DeviceConfigurationSectionHandler, Attendances.BackendService"
             restartOnExternalChanges="false" />
  </configSections>

  <appSettings>
    <add key="serilog:minimum-level" value="Information" />
    <add key="RetryTimes" value="5" />
    <add key="ProjectCode" value="" />
    <add key="ApiRootUrl" value="" />
    <add key="ApiToken" value="" />
  </appSettings>

  <deviceGroup>
    <devices>
      <device name="gate01" ip="127.0.0.1" port="4370" type="InOut" />
    </devices>
  </deviceGroup>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>