<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="1.5.14" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net46" />
  <package id="Topshelf" version="4.0.3" targetFramework="net46" />
  <package id="Topshelf.Serilog" version="4.0.3" targetFramework="net46" />
</packages>